*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-items: space-between;

    width: 100%;
    padding: 0.8% 0% 0.5% 0.5%;
    padding-left:5%;
    margin-bottom: 30px;

    background-color: #0c71ed;
    color: rgb(255, 255, 255);
    
    font-size:1.1rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;

    text-decoration: none !important;
}
.logo{
    width:15%;
    border-radius: 100%;
}
.rightnav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 15%;
    align-items: center;
    width: 60%;
    justify-self: flex-end !important;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;
    margin-top:50px;
    padding: 2% 10% 2% 5%;

    background-color: #1b6ad2;
}

footer h3{
    color: white;
    
    font-size:1.1rem;
    font-family: Poppins, sans-serif;
    font-weight: 100;
}

a{
    text-decoration: none !important;
    color: white;
}
